* {
  font-family: sans-serif;
}
h1{
  font-family: sans-serif;
}
.navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  border: 0px;
  margin: 0px;
  padding: 0px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #3c3c3c;
}

#mainbanner {
  background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 235px 0;
    color: white;
    text-shadow: 2px 2px #000;

}

#our-services-banner{
  background-image: url("../img/bg-2.jpg");
  text-shadow: 2px 2px #000;
  color: white
}

#contact-area{
background-image: url("../img/bg-3.jpg");
padding: 75px 0;
background-repeat: no-repeat;
background-size: cover;
}

.tm-box-description{
padding: 30px;


}
